<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>layouts</title>
</head>

<body>
  <div id="container">
    <div id="marca">Marca</div>
    <div id="conteudo">
      <div id="conteudo-principal">
        <h2>Eventos da agenda</h2>
        <p> minutos de estudo por dia valem a pena. Pesquisas mostram que os alunos que fazem do estudo um hábito têm maior probabilidade de alcançar suas metas. Reserve um tempo para estudar e receba lembretes usando seu programador de aprendizado.</p>
        <p>Exige Google Calendar, Apple Calendar ou Outlook</p>
        <h2>Eventos da agenda</h2>
        <p> minutos de estudo por dia valem a pena. Pesquisas mostram que os alunos que fazem do estudo um hábito têm maior probabilidade de alcançar suas metas. Reserve um tempo para estudar e receba lembretes usando seu programador de aprendizado.</p>
        <p>Exige Google Calendar, Apple Calendar ou Outlook</p>
      </div>
      <div id="conteudo-secundario">
        <h2>Eventos da agenda</h2>
        <p> minutos de estudo por dia valem a pena. Pesquisas mostram que os alunos que fazem do estudo um hábito têm maior probabilidade de alcançar suas metas. Reserve um tempo para estudar e receba lembretes usando seu programador de aprendizado.</p>
        <p>Exige Google Calendar, Apple Calendar ou Outlook</p>
      </div>

    </div>

    <div id="navegacao">
      <ul type="none">
        <li><a href="#">mane1</a></li>
        <li><a href="#">mane2</a></li>
        <li><a href="#">mane3</a></li>
        <li><a href="#">mane4</a></li>
        <li><a href="#">mane5</a></li>
        <li><a href="#">mane6</a></li>
      </ul>
    </div>
    <div id="rodape">Rodape</div>
  </div>
</body>

</html>